
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eeeeee;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
    width: 100vw;
    height: 100vh;
}


.triangle1{
  width: max-content;
  border-bottom: 10rem solid #C4C4C4;
  border-left: 6rem solid transparent;
  border-right: 6rem solid transparent;
}


.triangle2{
    width: max-content;
    border-left: 6rem solid transparent;
    border-right: 6rem solid transparent;
    border-top: 10rem solid #C4C4C4;
    margin-top: 2rem;
  }

  .triangle3{
    width: max-content;
    border-bottom: 6rem solid transparent;
    border-left: 10rem solid #C4C4C4;
    border-top: 6rem solid transparent;
  }

  .triangle4{
    width: max-content;
    border-bottom: 6rem solid transparent;
    border-top: 6rem solid transparent;
    border-right: 10rem solid #C4C4C4;
  }

  .triangle5{
    width: max-content;
    border-bottom: 5rem solid #C4C4C4;
    border-left: 8rem solid transparent;
    border-right: 8rem solid transparent;
  }

  .triangle6{
    width: max-content;
    border-left: 8rem solid transparent;
    border-right: 8rem solid transparent;
    border-top: 5rem solid #C4C4C4;
    margin-top: 11rem;

  }

  .triangle7{
    width: max-content;
    border-left: 5rem solid #C4C4C4;
    border-bottom: 8rem solid transparent;
    border-top: 8rem solid transparent;
  }

  .triangle8{
    width: max-content;
    border-right: 5rem solid #C4C4C4;
    border-bottom: 8rem solid transparent;
    border-top: 8rem solid transparent;
  }

  .triangle9{
    width: max-content;
    border-right: 5rem solid transparent;
    border-bottom: 8rem solid #C4C4C4;
  }

  .triangle10{
    width: max-content;
    border-left: 5rem solid transparent;
    border-bottom: 8rem solid #C4C4C4;
  }

  .triangle11{
    width: max-content;
    border-left: 5rem solid transparent;
    border-top: 8rem solid #C4C4C4;
    margin-top: 6rem;
    
  }
  .triangle12{
    width: max-content;
    border-right: 5rem solid transparent;
    border-top: 8rem solid #C4C4C4;
    margin-top: 6rem;
  }

  .triangle13{
    width: max-content;
    border-left: 10rem solid transparent;
    border-top: 8rem solid #C4C4C4;
    ;
    margin-top: 6rem;
  }

  .triangle14{
    width: max-content;
    border-right: 10rem solid transparent;
    border-top: 8rem solid #C4C4C4;
    margin-top: 6rem;
  }

  .triangle15{
    width: max-content;
    border-left: 10rem solid transparent;
    border-bottom: 8rem solid #C4C4C4;
  }

  .triangle16{
    width: max-content;
    border-right: 10rem solid transparent;
    border-bottom: 8rem solid #C4C4C4;
  }
  

  #sectiona, #sectionb, #sectionc{
    display: flex;
    gap: 6rem;
    align-items: space-evenly;
    justify-content: center;
  }

  